body {
    background-image: url("/assets/images/TBPbackground.png");
    color: whitesmoke;
}

#heroImg img {
    min-width: 100%;
    max-height: 35vh;
    object-fit: cover;
}

#featuredEventsCarousel {
    width: 75vw;
    justify-self: center;
}
.caroImg {
    height: 30vh;
    object-fit: cover;
}