/* Coolors Exported Palette - https://coolors.co/bf7d73-ecbeb1-d37e98-654933-3f1f0d */
/* CSS HEX */
:root {
  --old-rose: #bf7d73ff;
  --pale-dogwood: #ecbeb1ff;
  --puce: #d37e98ff;
  --coffee: #654933ff;
  --seal-brown: #3f1f0dff;
}

